@model ProjektIO.Models.ViewModels
@{ ViewBag.Title = "Edit"; }

<header class="text-center" style="background-color:#3374AB; color: white; font-size:20px">@Model.Group.Nazwa</header>

<div class="header" id="image" style="background-image: url('@Model.Group.SciezkaDoObrazu');background-size: 100% 100%">
    <div class="row align-items-center">

    </div>
    <div style="padding: 100px;"></div>
</div>
<div class="content" style="position: relative; padding-bottom: 0px;">

    @RenderPage("~/Views/Group/GroupNav.cshtml")
</div>

@Html.ValidationSummary(false)
<h1>Edytuj regulamin</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Group.Id)
    <div class="form-group">
        @Html.TextAreaFor(x => x.Group.Regulamin, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-warning">Save</button>
    <a class="btn btn-danger" href="@Url.Action("ShowStatute", "Group", new { id = Model.Group.Id })">Anuluj</a>
}
