@model ProjektIO.Models.ViewModels
@{ ViewBag.Title = "Edit"; }

<div class="header">
    <div class="row align-items-center">
        <div class="col col-12 col-sm-9">
            <h1 class="text-center">@Model.Group.Nazwa</h1>
        </div>
        <img src="~/Content/Images/kolo.png" class="img-thumbnail rounded header-logo m-auto" style="position: relative; left: -25px; bottom: -10px;">
    </div>
    <div style="padding: 10px;"></div>
    <div class="content">
        @RenderPage("~/Views/Group/GroupNav.cshtml")
    </div>
</div>

@Html.ValidationSummary(false)
<h1>Edytuj regulamin</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Group.Id)
    <div class="form-group">
        @Html.TextBoxFor(x => x.Group.Regulamin, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-warning">Zapisz</button>
    <a class="btn btn-danger" href="@Url.Action("ShowStatute", "Group", new { id = Model.Group.Id })">Anuluj</a>
}
