@using ProjektIO.Models
@model ViewModels
@{
    ViewBag.Title = "GroupList";
}

<h1>Lista kół z kategorii @Model.GroupList.Category</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa koła</th>
            <th scope="col">Przewodniczący koła</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GroupViewModel group in Model.GroupList.viewGroup)
        {
            <tr>
                <th scope="row">@group.Group.Id</th>
                <td>@group.Group.Nazwa</td>
                <td>@group.LeaderName</td>
                <td><a href="@Url.Action("ShowGroup", "Group", new { id = group.Group.Id })">KLIK</a></td>
            </tr>
        }
    </tbody>
</table>

<!-- PAGINACJA -->
<nav>
    <ul class="pagination">
        @if (Model.GroupList.CurrentPage != 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Categories", "Group", new { id = Model.GroupList.Category, page = Model.GroupList.CurrentPage - 1 }))">Poprzednia</a>
            </li>
        }

        @for (int i = 1; i <= Model.GroupList.Pages; i++)
        {
            if (i >= Model.GroupList.CurrentPage - 3 && i < Model.GroupList.CurrentPage + 3)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Categories", "Group", new { id = Model.GroupList.Category, page = i })">@i</a>
                </li>
            }
        }

        @if (Model.GroupList.CurrentPage != Model.GroupList.Pages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Categories", "Group", new { id = Model.GroupList.Category, page = Model.GroupList.CurrentPage + 1 })">Następna</a>
            </li>
        }
    </ul>
</nav>
