@using ProjektIO.Models
@model ViewModels
@{
    ViewBag.Title = "ContactAdmin";
}

<header class="text-center" style="background-color:#3374AB; color: white; font-size:20px">@Model.Group.Nazwa</header>

<div class="header" id="image" style="background-image: url('@Model.Group.SciezkaDoObrazu');background-size: 100% 100%">
    <div class="row align-items-center">

    </div>
    <div style="padding: 100px;"></div>
</div>
<div class="content" style="position: relative; padding-bottom: 0px;">

    @RenderPage("~/Views/Group/GroupNav.cshtml")
</div>
<h1 style="padding-top: 1%; padding-bottom: 1%;">Kontakt z przewodniczącym koła</h1>
<div>
    <div class="card">
        <div class="card-header">
            @Model.Member.Uzytkownik.Imie
            @Model.Member.Uzytkownik.Nazwisko
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Numer telefonu: @Model.Member.Uzytkownik.NumerTelefonu</li>
        </ul>
    </div>
</div>