@using ProjektIO.Models
@model ViewModels
@{
    ViewBag.Title = "Contact";
}

<div>
    <div class="row align-items-center">
        <div class="col">
            <h1 class="text-center" style="padding-bottom:30px;">Wszystkie koła naukowe </h1>
        </div>
    </div>
</div>
<div class="card-columns">

    @foreach (var group in Model.GroupList.viewGroup)
    {
        <div class="card">
            <div class="card-header">
                @group.Group.Nazwa
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Szefu: @group.LeaderName</li>
                <li class="list-group-item">Kategoria: brak</li>
                <li class="list-group-item">Uczelnia: @group.Group.Uczelnia</li>
                <li class="list-group-item"><a class="btn btn-warning" href="@Url.Action("ShowGroup", "Group", new { id = group.Group.Id })">Przejdź</a></li>
            </ul>
        </div>
    }



</div>


<!-- PAGINACJA -->
<nav>
    <ul class="pagination">
        @if (Model.GroupList.CurrentPage != 1)
        {
            <li class="page-item">
                <a class="page-link bg-dark" style="color: orange;" href="@Url.Action("Contact", "Group", new { id = 1, page = Model.GroupList.CurrentPage - 1 }))">Poprzednia</a>
            </li>
        }

        @for (int i = 1; i <= Model.GroupList.Pages; i++)
        {
            if (i >= Model.GroupList.CurrentPage - 3 && i < Model.GroupList.CurrentPage + 3)
            {
                <li class="page-item">
                    <a class="page-link bg-dark" style="color: orange;" href="@Url.Action("Contact", "Group", new { id = 1, page = i })">@i</a>
                </li>
            }
        }

        @if (Model.GroupList.CurrentPage != Model.GroupList.Pages)
        {
            <li class="page-item">
                <a class="page-link bg-dark" style="color:orange;" href="@Url.Action("Contact", "Group", new { id = 1, page = Model.GroupList.CurrentPage + 1 })">Następna</a>
            </li>
        }
    </ul>
</nav>
