@using ProjektIO.Models
@model ViewModels
@{
    ViewBag.Title = "ShowStatute";
}

<div class="header" id="image" style="background-image: url('@Model.Group.SciezkaDoObrazu');background-size: 100% 100%">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="text-center">@Model.Group.Nazwa</h1>
        </div>
    </div>
    <div style="padding: 100px;"></div>
</div>
<div class="content" style="position: relative; padding-bottom: 0px;">

    @RenderPage("~/Views/Group/GroupNav.cshtml")
</div>

<h1 style="padding-top: 1%; padding-bottom: 1%;">Nasz regulamin</h1>
<blockquote class="blockquote">
    <p class="mb-0">
        @Model.Members.Group.Regulamin
    </p>
</blockquote>
<a class="btn btn-warning" href="@Url.Action("EditStatute", "Leader", new { id = Model.Members.Group.Id })">Edytuj</></a>