@using ProjektIO.Models
@model ViewModels
@{
    ViewBag.Title = "ShowMembers";
}

<div class="header">
    <div class="row align-items-center">
        <div class="col col-12 col-sm-9">
            <h1 class="text-center">@Model.Members.Group.Nazwa</h1>
        </div>
        <img src="~/Content/Images/kolo.png" class="img-thumbnail rounded header-logo m-auto" style="position: relative; left: -25px; bottom: -10px;">
    </div>
    <div style="padding: 10px;"></div>
    <div class="content">
        @RenderPage("~/Views/Group/GroupNav.cshtml")
    </div>
</div>


<h1 style="padding-top: 1%; padding-bottom: 1%;">Członkowie koła</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Rola</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members.Members)
        {
            <tr>
                <th scope="row">@member.Id</th>
                <td>@member.Uzytkownik.Imie</td>
                <td>@member.Uzytkownik.Nazwisko</td>
                <td>@member.Rola</td>
            </tr>
        }
    </tbody>
</table>


<!-- PAGINACJA -->
<nav>
    <ul class="pagination">
        @if (Model.Members.CurrentPage != 1)
        {
            <li class="page-item">
                <a class="page-link bg-dark" style="color: orange;" href="@Url.Action("ShowMembers", "Group", new { id = Model.Members.Group.Id, page = Model.Members.CurrentPage - 1 }))">Poprzednia</a>
            </li>
        }

        @for (int i = 1; i <= Model.Members.Pages; i++)
        {
            if (i >= Model.Members.CurrentPage - 3 && i < Model.Members.CurrentPage + 3)
            {
                <li class="page-item">
                    <a class="page-link bg-dark" style="color: orange;" href="@Url.Action("ShowMembers", "Group", new { id = Model.Members.Group.Id, page = i })">@i</a>
                </li>
            }
        }

        @if (Model.Members.CurrentPage != Model.Members.Pages)
        {
            <li class="page-item">
                <a class="page-link bg-dark" style="color: orange;" href="@Url.Action("ShowMembers", "Group", new { id = Model.Members.Group.Id, page = Model.Members.CurrentPage + 1 })">Następna</a>
            </li>
        }
    </ul>
</nav>
