@using ProjektIO.Models
@model ViewModels
@{
    ViewBag.Title = "ShowPosts";
}

<header class="text-center" style="background-color:#3374AB; color: white; font-size:20px">@Model.Group.Nazwa</header>

<div class="header" id="image" style="background-image: url('@Model.Group.SciezkaDoObrazu');background-size: 100% 100%">
    <div class="row align-items-center">

    </div>
    <div style="padding: 100px;"></div>
</div>
<div class="content" style="position: relative; padding-bottom: 0px;">

    @RenderPage("~/Views/Group/GroupNav.cshtml")
</div>
<div style="margin-top: 1%;"></div>
<h1>Wszystkie posty</h1>
<div style="margin-top: 1%;"></div>

<table class="table">
    <tbody>
        @{ int k = 0; }
        @foreach (var post in Model.PostList.Posts)
        {
            { k++; }
            <tr>
                <th scope="row">@post.Id</th>
                <td>@post.Zawartosc.</td>
                <td><a href="#collapsePost_@k" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsePost_@k" class="btn btn-primary">Rozwiń komentarze</a></td>
            </tr>
            <tr class="collapse" id="collapsePost_@k">
                <td>
                    <h2>Komentarze</h2>
                    <div class="row">
                        <div class="col col-md-8">
                            <<<<<<< HEAD
                            =======

                            >>>>>>> 375d99f659818b59157efb792bb99e9ca18fa261
                            @foreach (var comment in Model.PostList.PostsModels)
                            {

                                <div class="">
                                    <div class="">
                                        <img class="rounded float-left img-thumbnail" height="200" width="200" src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" />
                                    </div>
                                    <div class="">
                                        <h4 class="media-heading">Nazwa komentującego</h4>
                                        <p>
                                            @comment.
                                        </p>
                                    </div>
                                </div>
                                <<<<<<< HEAD
                                <div style="margin-bottom: 1%;">
                                    <hr />
                                    =======
                                    <div class="">
                                        <h4 class="media-heading">Nazwa komentującego</h4>
                                        <p>
                                            @comment.
                                        </p>
                                        >>>>>>> 375d99f659818b59157efb792bb99e9ca18fa261
                                    </div>
                                    }
                                </div>
                            </div>
                    </td>
                </tr>
            }
                        </tbody>
                    </table>

                    <a class="btn btn-success" href="@Url.Action("AddPost", "Post")">Dodaj post</a>

                    <div style="margin-top: 1%;"></div>
                    <!-- PAGINACJA -->
                    <nav>
                        <ul class="pagination">
                            @if (Model.PostList.CurrentPage != 1)
                            {
                                <li class="page-item">
                                    <a class="page-link bg-dark" style="color: orange;" href="@Url.Action("ShowPosts", "Group", new { id = Model.PostList.Group.Id, page = Model.PostList.CurrentPage - 1 })">Poprzednia</a>
                                </li>
                            }
                            @for (int i = 1; i <= Model.PostList.Pages; i++)
                            {
                                if (i >= Model.PostList.CurrentPage - 3 && i < Model.PostList.CurrentPage + 3)
                                {
                                    <li class="page-item">
                                        <a class="page-link bg-dark" style="color: orange;" href="@Url.Action("ShowPosts", "Group", new { id = Model.PostList.Group.Id, page = i })">@i</a>
                                    </li>
                                }
                            }
                            @if (Model.PostList.CurrentPage != Model.PostList.Pages)
                            {
                                <li class="page-item">
                                    <a class="page-link bg-dark" style="color: orange;" href="@Url.Action("ShowPosts", "Group", new { id = Model.PostList.Group.Id, page = Model.PostList.CurrentPage + 1 })">Następna</a>
                                </li>
                            }
                        </ul>
                    </nav>

